<div class="container" id="sidebar-wrapper">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li class="dropdown" *ngFor="let menu of navMenu.menus">
      <button
        class="btn btn-default dropdown-toggle"
        type="button"
        data-toggle="dropdown"
      >
        {{ menu.name }}
      </button>

      <ul class="dropdown-submenu">
        <li class="nav-item" *ngFor="let child of menu.childrens">
          <a class="nav-link" href="#"> {{ child }} </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
